{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <h5>The qary package is both a chatbot framework and a working "reference implementation" virtual assistant that actually assists! Most bots manipulate you to make money for their corporate masters. With qary, you can build your bot to protect you and amplify your intelligence and prosocial instincts.</h5>
    <h5>You can use this webpage to create your own dialogue scripts using an interactive interface. The dialogue script will then be converted into a yaml file which you can use to build your own qary chatbots.</h5>
{% endblock content %}
