{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>qary convoscript - {{ title }}</title>
    {% else %}
        <title>qary convoscript</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">qary convoscript</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a> -->
              <!-- <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        
        <div class="col-sm-3"></div>
        
        <div class="col-sm-6">
          <div class="content-section">
            
            {% block content %}{% endblock content %}
        
            
          </div>
        </div>
        <div class="col-sm-3"></div>

        
      </div>
      
      

      <div class="row">
        
        <div class="col-sm-3"></div>
        
        <div class="col-sm-6">
          <center>

              <form class="export_yml" id="login_form" action="/export/">
                {% csrf_token %}
                <button class="btn btn-lg btn-primary btn-block" value="Export to yaml" type="submit">Download yaml file!</button>
             </form> 
            
            
          </center>
          
        </div>
        <div class="col-sm-3"></div>

        
      </div>

    

      <br></br>
      <br></br>
        
          
          <!-- <div class="row">
            <div class="col-sm-3">.col-sm-3</div>
            <div class="col-sm-6">.col-sm-6</div>
            <div class="col-sm-3">.col-sm-3</div>
          </div>
        </div> -->
          <div class="content-section">
            <center>
            <h3><font size="+4">About this page</font></h3>
            
            <br></br>
            <p class='text-muted'><font size="+1">The qary package is both a chatbot framework and a working "reference implementation" virtual assistant that actually assists! Most bots manipulate you to make money for their corporate masters. With qary, you can build your bot to protect you and amplify your intelligence and prosocial instincts.</font>
              <font size="+1">You can use this page to:</font>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Learn more about qary's dialogue structure</li>
                <li class="list-group-item list-group-item-light">Create your own dialogue scripts</li>
                <li class="list-group-item list-group-item-light">Experiment with dialogue types</li>
                <li class="list-group-item list-group-item-light">Convert your dialogue scripts into yaml files</li>
              </ul>
            </p>
            
          </div>
        
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
